# ==================== #
# By: Lmao stupid Cion #
# ==================== #

# <= Main =>
.env
*.iml
*.iws
.zed
.idea

# <= Sometimes it appears =>
test/

# <= Gradle =>
.gradle
build
gradlew
gradlew.bat
**.jar

# <= Maven =>
target/

#   >> Contain
!.intellijPlatform
!gradle/wrapper/gradle-wrapper.properties
