# ==================== #
# By: Lmao stupid Cion #
# ==================== #

# <= Main =>
.env
*.iml
*.iws
.zed
.idea
.intellijPlatform

# <= Gradle =>
.gradle
build
gradlew
gradlew.bat
**.jar

#   >> Contain
!gradle/wrapper/gradle-wrapper.properties
